@model Raagam.TextileManagement.Model.FabricCuttingChartModel
@{
    ViewBag.Title = "FabricCuttingChart";
    Layout = null; 
}
 
<script language="javascript" type="text/javascript">

    $('#OrderNumber').inputmask('999999', { placeholder: " " });
    $('#OrderDate').inputmask('dd/mm/yyyy', { clearIncomplete: true });
    $('#DeliveryDate').inputmask('dd/mm/yyyy', { clearIncomplete: true });
    
    $('#grdFabricCuttingChart').jqGrid({
        height: 'auto',
        datatype: 'json',
        rowNum: 50,
        rowList: [50, 100, 200],
        caption: 'Fabric Cutting Chart',
        mtype: 'POST',
        viewrecords: true,
        colNames: ['SequenceNumber', 'OrderSequenceNumber', 'StyleFabricSequenceNumber', 'StyleSizeSequenceNumber', 'StylePanelName',
                            'ProductName', 'TableDia', 'KnitDia', 'SizeName', 'ColorName', 'Pieces', 'Weight', 'WastagePercentage', 'TotalWeight', 'TempGUID',
                            'StyleColorSequenceNumber', 'LoopLength', 'KnitGSM'
                           ],
        colModel: [
  {
      name: 'SequenceNumber',
      index: 'SequenceNumber',
      hidden : true
  },
                                {
                                    name: 'OrderSequenceNumber',
                                    index: 'OrderSequenceNumber',
                                    hidden: true
                                },
                                {
                                    name: 'StyleFabricSequenceNumber',
                                    index: 'StyleFabricSequenceNumber',
                                    hidden: true
                                },
                                       {
                                           name: 'StyleSizeSequenceNumber',
                                           index: 'StyleSizeSequenceNumber',
                                           hidden: true
                                       },
                                {
                                    name: 'StylePanelName',
                                    index: 'StylePanelName',
                                    width: 200
                                },
                                 {
                                     name: 'ProductName',
                                     index: 'ProductName',
                                     width: 200
                                 },
                                 {
                                     name: 'TableDia',
                                     index: 'TableDia',
                                     width: 60
                                 },
                                 {
                                     name: 'KnitDia',
                                     index: 'KnitDia',
                                     width: 60
                                 },
                                 {
                                     name: 'SizeName',
                                     index: 'SizeName',
                                     width: 60
                                 },
                                 {
                                     name: 'ColorName',
                                     index: 'ColorName',
                                     width: 60
                                 },
                                 {
                                     name: 'Pieces',
                                     index: 'Pieces',
                                     width: 60
                                 },
                                 {
                                     name: 'Weight',
                                     index: 'Weight',
                                     width: 60
                                 },
                                 {
                                     name: 'WastagePercentage',
                                     index: 'WastagePercentage',
                                     width: 60
                                 },
                                 {
                                     name: 'TotalWeight',
                                     index: 'TotalWeight',
                                     width: 60
                                 },
                                 {
                                     name: 'TempGUID',
                                     index: 'TempGUID',
                                     hidden: true
                                 },
                                 {
                                     name: 'StyleColorSequenceNumber',
                                     index: 'StyleColorSequenceNumber',
                                     hidden: true
                                 },
                                 {
                                     name: 'LoopLength',
                                     index: 'LoopLength',
                                     width: 60
                                 },
                                 {
                                     name: 'KnitGSM',
                                     index: 'KnitGSM',
                                     width: 60
                                 }
        ]
    });


    $('#StyleSequenceNumber').change(function (event) {

        var styleSequence = $('#StyleSequenceNumber').val();

        if (styleSequence != 0) {

            $.ajax({
                url: '@Url.Content("/FabricCuttingChart/GetCascadeFabricPanelSize")',
                type: 'POST',
                data:
                        {
                            style: styleSequence
                        },
                success: function (result) {
                    debugger;


                    $("#FabricSequenceNumber").empty();
                    $("#FabricSequenceNumber").append($("<option></option>").val(0).html('Select Fabric'));
                    $.each(result.data.FabricLinkDropDownList, function (key, data) {
                        $("#FabricSequenceNumber").append($("<option></option>").val(data.Key).html(data.Value));
                    });
                    $('#FabricSequenceNumber').val(0).change();


                    $("#PanelSelectedList").empty();
                    $.each(result.data.PanelLinkDropDownList, function (key, data) {
                        $("#PanelSelectedList").append($("<option></option>").val(data.Key).html(data.Value));
                    });
                    $("#PanelSelectedList").chosen();

                    $("#StyleSizeSelectedList").empty();
                    $.each(result.data.StyleSizeLinkDropDownList, function (key, data) {
                        $("#StyleSizeSelectedList").append($("<option></option>").val(data.Key).html(data.Value));
                    });
                    $("#StyleSizeSelectedList").chosen();


                    $("#grdFabricCuttingChart").setGridParam({ 'postData': result.data.fabricCuttingChartMainList });




                },
                error: function (e) {
                    alert(e.responseText);
                }
            });
        }
    });



    $('#OrderNumber').keypress(function (event) {
        if (event.keyCode == 13) {
            $.ajax({
                url: '@Url.Content("/FabricCuttingChart/GetOrderDetails")',
                type: 'POST',
                data:
                        {
                            OrderNumber: $('#OrderNumber').val()
                        },
                success: function (result) {
                    $('#OrderDate').val(result.data.OrderDate);
                    $('#DeliveryDate').val(result.data.DeliveryDate);
                    $('#BuyerReferenceNumber').val(result.data.BuyerReferenceNumber);
                    $('#OrderQuantity').val(result.data.OrderQuantity);
                    $("#BuyerSequenceNumber").empty();
                    $.each(result.data.BuyerDropDownList, function (key, data) {
                        $("#BuyerSequenceNumber").append($("<option></option>").val(data.Value).html(data.Text));
                    });

                    $("#StyleSequenceNumber").empty();
                    $("#StyleSequenceNumber").append($("<option></option>").val(0).html('Select Style'));
                    $.each(result.data.StyleDropDownList, function (key, data) {
                        $("#StyleSequenceNumber").append($("<option></option>").val(data.Value).html(data.Text));
                    });

                    $('#StyleSequenceNumber').val(0).change();

                },
                error: function (e) {
                    alert(e.responseText);
                }
            });
        }
        return false;
    });

    
</script>
@using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "frmFabricCuttingChart", role = "form", @class = "form-horizontal" }))
{    
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <span>Fabric Cutting Chart</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrderNumber, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.OrderNumber, new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrderDate, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.OrderDate, new { @class = "form-control", style = "height:35px;width:200px;", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DeliveryDate, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.DeliveryDate, new { @class = "form-control", style = "height:35px;width:200px;", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BuyerReferenceNumber, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.BuyerReferenceNumber, new { @class = "form-control", style = "height:35px;width:200px;", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrderQuantity, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.OrderQuantity, new { @class = "form-control", style = "height:35px;width:200px;", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BuyerSequenceNumber, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.BuyerSequenceNumber, Model.BuyerDropDownList, new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StyleSequenceNumber, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.StyleSequenceNumber, Model.StyleDropDownList, new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FabricSequenceNumber, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.FabricSequenceNumber, new SelectList(Model.FabricLinkDropDownList, "Key", "Value"), new { @class = "form-control", data_placeholder = "Choose  Fabric...", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PanelSelectedList, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.PanelSelectedList, new SelectList(Model.FabricLinkDropDownList, "Key", "Value"), new { @class = "form-control", data_placeholder = "Choose  Panel...", multiple = "multiple", style = "height:35px;width:400px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StyleSizeSelectedList, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.StyleSizeSelectedList, new SelectList(Model.StyleSizeLinkDropDownList, "Key", "Value"), new { @class = "form-control", data_placeholder = "Choose  Size...", multiple = "multiple", style = "height:35px;width:400px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LoopLength, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.LoopLength, new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.KnitGSM, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.KnitGSM, new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TableDia, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.TableDia, new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Weight, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4">
                            <input type="button" value="Add" class="btn marginR10" />
                            <button class="btn btn-danger">
                                Cancel</button>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-1">
                        <table id="grdFabricCuttingChart">
                            </table>
                        </div>                
                    </div>
                    <!-- End .form-group  -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- End .span6 -->
    </div>
    <!-- End .row -->
    <!-- End .form-group  -->

}
