@model Raagam.TextileManagement.Model.OrderMainModel 

@{
    ViewBag.Title = "Order";
    Layout = null;  
}

 
<script language="javascript" type="text/javascript">

    $(document).ready(function (e) {
        $.lastSelectedRow = null;


        $('#OrderNumber').inputmask('999999', { placeholder: " " });
        $('#OrderDate').inputmask('dd/mm/yyyy', { clearIncomplete: true });
        $('#DeliveryDate').inputmask('dd/mm/yyyy', { clearIncomplete: true });
        $('#ExcessPercentage').inputmask('99', { placeholder: " " });
        $('#DeliveryDate').datepicker({ dateFormat: 'dd/mm/yy', changeMonth: true, minDate: 0,
            changeYear: true
        });

        $('#grdOrder').jqGrid({
            height: 'auto',
            datatype: 'local',
            rowNum: 10,
            caption: 'Order',
            viewrecords: true,
            colNames: ['StyleColorSequence', 'ColorName'],
            colModel: [{
                name: 'StyleColorSequence',
                index: 'StyleColorSequence',
                hidden: true
            },
                   {
                       name: 'ColorName',
                       index: 'ColorName'
                   }
                 ],
            cellEdit: true
        });

        jQuery("#grdOrder").jqGrid('navGrid', '#Pager', { edit: true, add: false, del: false }, null, null, true, { multipleSearch: true });

        $('#ExcessPercentage').keyup(function (event) {
            var ExcessPercentage = parseInt($('#ExcessPercentage').val());

            if ((ExcessPercentage == null) || (ExcessPercentage == '')) {
                ExcessPercentage = 0;
            }

            var TotalQuantity = parseInt($('#OrderQuantity').val());

            if ((TotalQuantity == null) || (TotalQuantity == '')) {
                TotalQuantity = 0;
            }

            ExcessQuantity = Math.floor(TotalQuantity + (TotalQuantity * (ExcessPercentage / 100)));
            $('#ExcessQuantity').val(ExcessQuantity);
        });


        $('#StyleSequenceNumber').change(function (event) {


            var StyleSequenceNumber = $('#StyleSequenceNumber').val();

            $.ajax({
                url: '@Url.Content("/Order/SelectOrderColorSize")',
                data:
                {
                    StyleSequenceNumber: StyleSequenceNumber
                },
                type: 'POST',
                success: function (result) {
                    if (result.success) {
                        debugger;
                        $("#grdOrder").jqGrid('GridUnload');

                        var obj = jQuery.parseJSON(result.data.ColModel);
                        var colN = result.data.ColNames;
                        var colM = obj.DocumentElement.colModel;
                        var lastSel;

                        $('#grdOrder').jqGrid({
                            height: 'auto',
                            datatype: 'local',
                            rowNum: 10,
                            caption: 'Order',
                            viewrecords: true,
                            colNames: colN,
                            colModel: colM,
                            cellEdit: true,
                            onSelectCell: function (currentSelectedRow) {
                                debugger;
                                if (currentSelectedRow && currentSelectedRow != $.lastSelectedRow) {
                                    $('#grdOrder').jqGrid('saveRow', $.lastSelectedRow, false);
                                    $.lastSelectedRow = currentSelectedRow;
                                }
                                $('#grdOrder').jqGrid('editRow', $.lastSelectedRow, true);
                            },
                            afterEditCell: function (rowid, cellname, value, iRow, iCol) {
                                var inputControl = jQuery('#' + (iRow) + '_' + cellname);

                                inputControl.bind("keydown", function (e) {

                                    if (e.keyCode === 13) {  // Enter key:
                                        var increment = e.shiftKey ? -1 : 1;
                                        var colModel = $("#grdOrder")[0].p.colModel;
                                        var lastRowInd = jQuery("#grdOrder").jqGrid("getGridParam", "reccount");
                                        var columnNames = $("#grdOrder").jqGrid('getGridParam', 'colModel');
                                        var iRCnt = 0;
                                        var TotalQuantity = 0;
                                        var ExcessQuantity = 0;
                                        var ExcessPercentage = parseInt($('#ExcessPercentage').val());

                                        if ((ExcessPercentage == null) || (ExcessPercentage == '')) {
                                            ExcessPercentage = 0;
                                        }

                                        $.each(columnNames, function (key, colName) {
                                            debugger;
                                            //columnProp = $('#grdOrder').jqGrid('getColProp',  colName);
                                            if (colName.editable == true) {


                                                for (iRCnt = 0; iRCnt < lastRowInd; iRCnt++) {



                                                    var Quantity = $('#grdOrder').jqGrid('getCell', iRCnt, colName.name);

                                                    if ((Quantity != null) && (Quantity != '')) {
                                                        TotalQuantity += parseInt(Quantity);
                                                        ExcessQuantity = Math.floor(TotalQuantity + (TotalQuantity * (ExcessPercentage / 100)));
                                                    }
                                                    $('#OrderQuantity').val(TotalQuantity);
                                                    $('#ExcessQuantity').val(ExcessQuantity);
                                                }
                                            }
                                        });
                                        $('#grdOrder').jqGrid('nextCell', iRow, iCol);
                                        if (colModel.length - 1 == iCol) {

                                            if (iRow + increment == 0 || iRow + increment == lastRowInd + 1)
                                                return;
                                            else {
                                                jQuery("#grdOrder").jqGrid("editCell", iRow + increment, 2, true);
                                            }
                                        }
                                    }
                                });


                            },
                            //editurl: '@Url.Action("GridSave","Order")',
                            cellsubmit: 'clientArray',
                            rowNum: 10,
                            rowList: [5, 10, 20, 50]
                        });

                        var columnProp;
                        var columnNames = $("#grdOrder").jqGrid('getGridParam', 'colModel');
                        $.each(columnNames, function (key, colName) {
                            //columnProp = $('#grdOrder').jqGrid('getColProp',  colName);
                            if (colName.editable == "true") {
                                colName.editable = true;
                                colName.editoptions = { defaultValue: 0, size: 20, maxlength: 30, dataInit: function (elem) { $(elem).inputmask('99999999', { placeholder: " " }); } };
                            }
                        });


                        jQuery('#grdOrder').clearGridData();
                        var rowid = 0;
                        $.each(result.data.styleColorList, function (key, data) {
                            jQuery("#grdOrder").addRowData(rowid, data);
                            rowid = rowid + 1;
                        });



                    }
                    else {
                        alert(result.data);
                    }
                },
                error: function (e) {

                    alert(e.responseText);
                }
            });

        });

        function formOrderDetailModel() {

            var ruledetail = new Array();


            var columnProp;
            var columnNames = $("#grdOrder").jqGrid('getGridParam', 'colModel');
            var cRows = jQuery("#grdOrder").jqGrid("getGridParam", "reccount");
            var ExcessQuantity;
            var iRow;

            var ExcessPercentage = parseInt($('#ExcessPercentage').val());

            if ((ExcessPercentage == null) || (ExcessPercentage == '')) {
                ExcessPercentage = 0;
            }

            $.each(columnNames, function (key, colName) {

                //columnProp = $('#grdOrder').jqGrid('getColProp',   colName);
                if (colName.editable == true) {
                    for (iRow = 0; iRow < cRows; iRow++) {

                        ExcessQuantity = 0;

                        var Quantity = $('#grdOrder').jqGrid('getCell', iRow, colName.name);

                        if ((Quantity != null) && (Quantity != '')) {
                            ExcessQuantity = Math.floor(parseInt(Quantity) + (parseInt(Quantity) * (ExcessPercentage / 100)));
                        }
                        else {
                            Quantity = 0;
                        }

                        ruledetail.push({
                            SequenceNumber: 0,
                            OrderNumber: 0,
                            StyleSequenceNumber: parseInt($('#StyleSequenceNumber').val()),
                            StyleColorSequenceNumber: parseInt(jQuery('#grdOrder').jqGrid('getCell', iRow, "StyleColorSequence")),
                            StyleSizeSequenceNumber: parseInt(colName.index),
                            OrderDetailQuantity: parseInt(Quantity),
                            OrderDetailExcessQuantity: parseInt(ExcessQuantity)
                        });

                    }
                }
            });

            return ruledetail;

        }


        $('#SaveButton').click(function (event) {
            debugger;

            var orderData = JSON.stringify({ 'orderMainModel': $('#frmOrder').jsonify(), 'orderDetailModel': formOrderDetailModel() });

             $.ajax({
                url: '@Url.Content("/Order/SaveOrder")',
                type: 'POST',
                 dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: orderData,
                success: function (result) {
                    if (result.success) {
                        alert(result.data);
                    }
                    else {
                        alert(result.data);
                    }
                },
                error: function (e) {

                    alert(e.responseText);
                }
            });

        });


    });
</script>
<h2>Order</h2>
@using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "frmOrder", role = "form", @class = "form-horizontal" }))
{    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <span>Order</span>
                    </h4>
                </div>
                <div class="panel-body">
                 <div class="form-group">
                        <div class="col-lg-offset-8">
                            <input type="button" value="Save" id="SaveButton" class="btn marginR10" />
                            <button class="btn btn-danger" id="CancelButton">Cancel</button>
                          </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrderNumber, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.OrderNumber, new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrderDate, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.OrderDate, new { @class = "form-control", style = "height:35px;width:200px;", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DeliveryDate, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.DeliveryDate, new { @class = "form-control", style = "height:35px;width:200px;"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BuyerReferenceNumber, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.BuyerReferenceNumber, new { @class = "form-control", style = "height:35px;width:200px;"  })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.BuyerSequenceNumber, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.BuyerSequenceNumber, Model.BuyerDropDownList,"Select Buyer" ,new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ExcessPercentage, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.ExcessPercentage, new { @class = "form-control", style = "height:35px;width:200px;"  })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrderQuantity, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.OrderQuantity, new { @class = "form-control", style = "height:35px;width:200px;", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ExcessQuantity, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.ExcessQuantity, new { @class = "form-control", style = "height:35px;width:200px;", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.StyleSequenceNumber, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.StyleSequenceNumber, Model.StyleDropDownList,"Select Order", new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
 
                    <div class="form-group">
                        <div class="col-lg-1">
                            <table id="grdOrder"></table>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PackingType, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.PackingType , new { @class = "form-control", style = "height:35px;width: 400px;"  })
                        </div>
                    </div>

                     <div class="form-group">
                        @Html.LabelFor(m => m.PackingInstructions, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextAreaFor(m => m.PackingInstructions,5, 400, new { @class = "form-control" })
                        </div>
                    </div>
                    
                     <div class="form-group">
                        @Html.LabelFor(m => m.AssortmentDetails, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextAreaFor(m => m.AssortmentDetails, 5, 400, new { @class = "form-control" })
                        </div>
                    </div>
                                        
                     <div class="form-group">
                        @Html.LabelFor(m => m.Comments, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                            @Html.TextAreaFor(m => m.Comments, 5, 400, new { @class = "form-control"  })
                        </div>
                    </div>
                    <!-- End .form-group  -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- End .span6 -->
    </div>
    <!-- End .row -->
    <!-- End .form-group  -->

}


