@model Raagam.TextileManagement.Model.StyleProcessSourcesModel
@using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "frmProcessSources", role = "form", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <span>Style Process Sources</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-lg-offset-8">
                            <input type="button" value="New" id="ProcessSourcesNewButton" class="btn marginR10" />
                            <input type="button" value="Save" id="ProcessSourcesSaveButton" class="btn marginR10" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SourcesSequenceNumber, new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                        @Html.DropDownListFor(m => m.SourcesSequenceNumber, (List<SelectListItem>)@ViewBag.ProcessDropDownList, "Select Process", new { @class = "form-control", style = "height:35px;width:200px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Product Group", new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                        @Html.DropDownListFor(m => m.ProductGroupSequenceNumber, (List<SelectListItem>)@ViewBag.ProductGroupDropDownList, "Select Product Group", new { @class = "form-control", style = "height:35px;width:200px;" })     
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Trims", new { @class = "col-lg-3 control-label", @for = "normalInput" })
                        <div class="col-lg-9">
                        @Html.DropDownListFor(m => m.SourcesSequenceNumber, Enumerable.Empty<SelectListItem>(), "Select Trims", new { @class = "form-control", style = "height:35px;width:200px;" })     
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <table id="grdStyleProcessSources">
                            </table>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.SequenceNumber)
                    @Html.HiddenFor(m => m.TempGuid)
                    @Html.HiddenFor(m => m.StyleSequenceNumber)
                    @Html.HiddenFor(m => m.State)
                    @Html.HiddenFor(m => m.IsDeleted)
                </div>
            </div>
        </div>
    </div>
}